$white: #ffffff;
$dark_white: #ffffff;
$grey: #808080;
$black: #000000;
$light_blue: #4fa3b6;
$blue: #096d93;
$dark_blue: #0e4259;
$indigo: #30a8f0;
$red: #ff0202;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

header {
    background-color: $blue;

    div {
        padding: 20px 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        a img {
            height: 70px;
            display: block;
        }

        h1 {
            font-family: 'Nosifer', cursive;
            color: white;
            text-transform: uppercase;
            margin: auto;
        }
    }

    nav {
        background-color: $dark_blue;

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            li {
                padding: 5px 70px;
                cursor: pointer;

                a {
                    filter: brightness(0) saturate(100%) invert(94%) sepia(94%) saturate(0%) hue-rotate(228deg) brightness(107%) contrast(106%);
                    display: block;
                    text-decoration: none;
                    width: 30px;
                    height: 30px;

                    img {
                        height: 30px;
                        width: 30px;
                    }

                    p {
                        display: none;
                    }
                }
            }

            li:hover {
                transition-property: background-color;
                transition-duration: 0.5s;
                background-color: rgba(79, 163, 182, 0.5);
            }
        }
    }
}

main {
    background-color: $light_blue;
    padding: 5vh 7.5%;

    .parallax {
        display: none;
    }

    .prevision {
        display: flex;
        gap: 50px;
        margin-bottom: 10vh;

        section {
            width: 70%;

            h2 {
                margin-bottom: 30px;

                :nth-child(2) {
                    display: none;
                }
            }

            .card_container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 1fr);
                grid-gap: 15px;

                .card {
                    width: 100%;
                    font-weight: 700;
                    text-transform: uppercase;
                    background-color: white;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 10px 0;
                    box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);

                    img {
                        width: 100px;
                        height: 100px;
                    }

                    div :nth-child(1) {
                        color: $red;
                        margin-right: 5px;
                    }

                    div :nth-child(3) {
                        color: $light_blue;
                        margin-left: 5px;
                    }

                    div {
                        display: flex;
                    }

                    div span::after {
                        content: "°";
                        display: inline-block;
                        transform: translate(2px, -2px);
                    }

                    div hr {
                        border: 1px solid $black;
                    }
                }
            }

            .card_container :nth-child(9) {
                display: none;
            }

            .card_container :nth-child(10) {
                display: none;
            }
        }

        aside {
            width: 30%;
            background-color: $white;
            border-radius: 10px;
            padding: 40px 20px;
            box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 20px;

                li {
                    width: 100%;
                    padding: 5px;

                    a {
                        display: flex;
                        gap: 15px;
                        text-decoration: none;

                        img {
                            width: 25px;
                            height: 25px;
                            filter: brightness(0) saturate(100%) invert(18%) sepia(20%) saturate(3200%) hue-rotate(163deg) brightness(94%) contrast(89%);
                        }

                        p {
                            color: $black;
                            font-weight: 700;
                            text-transform: uppercase;
                        }
                    }
                }

                li:hover {
                    transition-property: background-color;
                    transition-duration: 0.5s;
                    background-color: rgba(79, 163, 182, 0.5);
                    border-radius: 10px;
                }
            }
        }
    }

    .date_information {
        display: none;
    }

    .information {
        display: flex;
        gap: 50px;

        .img_container {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            gap: 10px 5%;

            img {
                width: 47.5%;
                box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);
            }
        }

        section {
            width: 50%;
            background-color: $dark_white;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 35px;
            padding: 40px 30px;
            box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);

            h2 {
                color: $blue;
                text-align: center;
            }

            p {
                color: $blue;
                font-weight: 700;
                text-align: center;
                max-width: 200px;
            }

            form {
                width: 100%;
                height: 100%;

                input {
                    box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);
                    border: none;
                    width: 100%;
                    border-radius: 10px;
                    height: 40px;
                }

                input[type=email] {
                    margin-bottom: 20px;
                }

                input[type=email]::placeholder {
                    padding-left: 10px;
                }

                input[type=submit] {
                    background-color: $light_blue;
                    color: $white;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    height: 100px;
    color: white;

    strong {
        font-family: 'Nosifer', cursive;
    }
}

@media screen and (min-width:1200px) {
    header nav ul li {
        padding: 5px 0;
        width: 200px;

        a {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            p {
                display: block;
                font-weight: 700;
                text-transform: uppercase;
                width: fit-content;
            }
        }
    }

    main {
        .parallax {
            display: block;
            border: none;
            background-image: url("/img/beach-1852945_1920.jpg");
            width: 100%;
            height: 600px;
            margin-bottom: 10vh;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .prevision section {
            .card_container {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(2, 1fr);

                article:nth-child(9) {
                    display: flex;
                }

                article:nth-child(10) {
                    display: flex;
                }
            }


            h2 {
                margin-bottom: 70px;

                :nth-child(1) {
                    display: none;
                }

                :nth-child(2) {
                    display: inline;
                }
            }
        }

        .prevision aside {
            padding: 20px;

            ul {
                gap: 5px;
            }
        }

        .date_information {
            display: flex;
            margin-bottom: 10vh;
            gap: 50px;

            section {
                background-color: $white;
                border-radius: 10px;

                h2 {
                    color: $blue;
                }
            }

            .releves_du_jour {
                width: 30%;
                padding: 20px;
                box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);

                h2 {
                    text-align: center;
                    font-size: 16px;
                    margin-bottom: 20px;
                }

                table {
                    font-weight: 700;
                    text-transform: capitalize;
                    border-collapse: collapse;

                    .td_blue {
                        color: $blue;
                    }

                    .td_red {
                        color: $red;
                    }

                    tr {
                        border-bottom: solid 1px black;
                    }

                    td {
                        padding-right: 15px;
                    }
                }
            }

            .ephemeride {
                width: 70%;
                background-image: url(/img/ephemeride.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);
            }
        }

        .information {
            .img_container {
                width: 75%;
                gap: 20px 5%;

                img {
                    width: 30%;
                }
            }

            section {
                width: 25%;
            }
        }
    }
}