$white: #ffffff;
$dark_white: #ffffff;
$grey: #808080;
$black: #000000;
$light_blue: #4fa3b6;
$blue: #096d93;
$dark_blue: #0e4259;
$indigo: #30a8f0;
$red: #ff0202;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

header {
    background-color: $blue;

    div {
        padding: 20px 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        a img {
            height: 70px;
            display: block;
        }

        h1 {
            font-family: 'Nosifer', cursive;
            color: white;
            text-transform: uppercase;
            margin: auto;
        }
    }

    nav {
        background-color: $dark_blue;

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            li {
                padding: 0 70px;
                cursor: pointer;

                a {
                    height: 40px;
                    width: 30px;
                    filter: brightness(0) saturate(100%) invert(94%) sepia(94%) saturate(0%) hue-rotate(228deg) brightness(107%) contrast(106%);
                    display: block;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            li:hover {
                transition-property: background-color;
                transition-duration: 0.5s;
                background-color: rgba(79, 163, 182, 0.5);
            }
        }
    }
}

main {
    background-color: $light_blue;
    padding: 5vh 7.5%;

    .prevision {
        display: flex;
        gap: 50px;
        margin-bottom: 10vh;

        section {
            width: 70%;

            h2 {
                margin-bottom: 30px;
            }

            .card_container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 1fr);
                grid-gap: 15px;

                article {
                    width: 100%;
                    font-weight: 700;
                    text-transform: uppercase;
                    background-color: white;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 10px 0;
                    box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);

                    img {
                        width: 100px;
                        height: 100px;
                    }

                    div :nth-child(1) {
                        color: $red;
                        margin-right: 5px;
                    }

                    div :nth-child(3) {
                        color: $light_blue;
                        margin-left: 5px;
                    }

                    div {
                        display: flex;
                    }

                    div span::after {
                        content: "°";
                    }

                    div hr {
                        border: 1px solid $black;
                    }
                }
            }
        }

        aside {
            width: 30%;
            background-color: $white;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 20px;

                li {
                    width: 100%;
                    padding: 5px;

                    a {
                        display: flex;
                        gap: 15px;
                        text-decoration: none;

                        img {
                            width: 25px;
                            height: 25px;
                            filter: brightness(0) saturate(100%) invert(18%) sepia(20%) saturate(3200%) hue-rotate(163deg) brightness(94%) contrast(89%);
                        }

                        p {
                            color: $black;
                            font-weight: 700;
                            text-transform: uppercase;
                        }
                    }
                }

                li:hover {
                    transition-property: background-color;
                    transition-duration: 0.5s;
                    background-color: rgba(79, 163, 182, 0.5);
                    border-radius: 10px;
                }
            }
        }
    }

    .information {
        display: flex;
        gap: 50px;

        .img_container {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            gap: 10px 5%;

            img {
                width: 47.5%;
                box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);

            }
        }

        section {
            width: 50%;
            background-color: $dark_white;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 35px;
            padding: 40px 30px;
            box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);

            h2 {
                color: $blue;
                text-align: center;
            }

            p {
                color: $blue;
                font-weight: 700;
                text-align: center;
                max-width: 200px;
            }

            form {
                width: 100%;
                height: 100%;

                input {
                    box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);
                    border: none;
                    width: 100%;
                    border-radius: 10px;
                    height: 40px;
                }

                input[type=email] {
                    margin-bottom: 20px;
                }

                input[type=email]::placeholder {
                    padding-left: 10px;
                }

                input[type=submit] {
                    background-color: $light_blue;
                }
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    height: 100px;
    color: white;

    strong {
        font-family: 'Nosifer', cursive;
    }
}